{% macro participant_details(participant, last_known_screening=none, show_last_known_mammogram=true, full_details=false) %}
  {%- include 'components/participant-details/template.jinja' -%}
{% endmacro %}
