{% macro participant_details(participant, return_url=none, last_known_screening=none, show_last_known_mammogram=true, full_details=false) %}
  {% if return_url is none %}
    {{ raise('return_url is required') }}
  {% endif %}
  {%- include 'components/participant-details/template.jinja' -%}
{% endmacro %}
