# Temporary only
.cache/

# Node.js modules
node_modules/

# Test coverage
coverage/

# Build output
dist/

# Files to ignore
package-lock.json

# Compiled and static assets
manage_breast_screening/assets/compiled
manage_breast_screening/staticfiles
manage_breast_screening/static

# Files that aren't checked in
.pytest_cache
.terraform
