{% extends 'layout-app.jinja' %}
{% from 'back-link/macro.jinja' import backLink %}
{% from 'radios/macro.jinja' import radios %}
{% from 'button/macro.jinja' import button %}
{% from 'input/macro.jinja' import input %}
{% from 'fieldset/macro.jinja' import fieldset %}

{% from 'django_form_helpers.jinja' import form_error_summary %}

{% block beforeContent %}
  {{ backLink({
    "href": back_link.href,
    "text": back_link.text
  }) }}
{% endblock beforeContent %}

{% block messages %}
  {{ form_error_summary(form) }}
{% endblock %}

{% block page_content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h1 class="nhsuk-heading-l">
        {{ heading }}
      </h1>

      <form action="{{ request.path }}" method="POST">
        {{ csrf_input }}
        <input type="hidden" name="return_url" value="{{ back_link.href }}">

        {% set hasErrors = form.errors %}

        <div class="nhsuk-form-group {{"nhsuk-form-group--error" if hasErrors}}">
          {% call fieldset({
            "legend": {
              "text": "How does " ~ participant.full_name ~ " describe their ethnicity?",
              "classes": "nhsuk-fieldset__legend--m",
              "isPageHeading": false
            },
            "attributes": {
              "aria-describedby": form.ethnic_background_choice.auto_id
            } if hasErrors else ""
          }) %}
            {% if hasErrors %}
              <span class="nhsuk-error-message" id={{ form.ethnic_background_choice.auto_id }}>
                <span class="nhsuk-u-visually-hidden">Error:</span> {{ form.ethnic_background_choice.errors.0 }}
              </span>
            {% endif %}
            {% for ethnic_category, ethnic_backgrounds in form.ethnic_backgrounds_by_category() %}
              <h2 class="nhsuk-fieldset__legend--s">{{ ethnic_category }}</h2>
                {% set radio_items = [] %}
                {% for ethnic_background in ethnic_backgrounds %}
                  {% do radio_items.append({
                    "value": ethnic_background.id,
                    "text": ethnic_background.display_name,
                    "checked": ethnic_background.id == participant.ethnic_background_id,
                  }) %}
                {% endfor %}
                {{ radios({
                  "name": form.ethnic_background_choice.html_name,
                  "items": radio_items,
                  "idPrefix": ethnic_category | lower | replace(' ', '_'),
                }) }}
            {% endfor %}
          {% endcall %}
        </div>

        <div class="nhsuk-form-group">
          {{ button({
            "text": "Save and continue"
          }) }}
        </div>
      </form>
    </div>
  </div>
{% endblock page_content %}
