{% extends 'layout-app.jinja' %}
{% from 'card/macro.jinja' import card %}
{% from 'back-link/macro.jinja' import backLink %}
{% from 'components/participant-details/macro.jinja' import participant_details %}

{% block beforeContent %}
  {{ backLink({
    "href": back_link.href,
    "text": back_link.text
  }) }}
{% endblock beforeContent %}

{% block page_content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h1 class="nhsuk-heading-l">
        {{ heading }}
      </h1>

      {% set personal_details_html %}
        {{ participant_details(participant=participant, full_details=true, show_last_known_mammogram=false) }}
      {% endset %}

      {{ card({
        "heading": "Personal details",
        "headingLevel": "2",
        "descriptionHtml": personal_details_html
      }) }}
    </div>
  </div>
{% endblock page_content %}
