{% extends 'layout-app.html' %}
{% from 'button/macro.jinja' import button %}
{% from 'fieldset/macro.jinja' import fieldset %}
{% from 'back-link/macro.jinja' import backLink %}
{% from 'django_form_helpers.jinja' import app_radios, form_error_summary %}

{% block beforeContent %}
{# Using javascript temporarily - this should be replaced with proper URLs #}
{{ backLink({
  "href": "javascript:history.back()",
  "text": "Go back"
}) }}
{% endblock beforeContent %}

{% block messages %}
  {{ form_error_summary(form) }}
{% endblock %}

{% block page_content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

  {% block heading %}
  <h1 class="nhsuk-heading-l">
    {% if caption %}
      <span class="nhsuk-caption-l">{{ caption }}</span>
    {% endif %}
    {{title}}
  </h1>
  {% endblock heading %}

  {% block step_content %}{% endblock %}

  {% if form %}
  <form action="{{request.path}}" method="POST">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          {% block form %}{% endblock form %}

          {% if form.decision %}
            {{ app_radios(form.decision, legend=decision_legend, hint=decision_hint) }}
          {% endif %}

          {{ button({
            "text": "Continue"
          }) }}

          {{csrf_input}}
        </div>
    </div>
  </form>
  {% endif %}

  {% if cannot_continue_link %}
    <p><a class="nhsuk-link nhsuk-link--no-visited-state" href="{{ cannot_continue_link.href }}">{{ cannot_continue_link.text }}</a></p>
  {% endif %}
  </div>

</div>
{% endblock page_content %}
