{% from 'radios/macro.jinja' import radios as radios_component %}
{% from "checkboxes/macro.jinja" import checkboxes as checkboxes_component %}
{% from 'error-summary/macro.jinja' import errorSummary %}

{% macro form_error_summary(form, title="There is a problem") %}
    {% if form.errors %}
      {% set ns = namespace(errors=[]) %}

      {% for field in form %}
        {% set ns.errors = ns.errors + [{"text": ",".join(field.errors), "href": "#" ~ field.auto_id}] %}
      {% endfor %}
      {% for error_list in form.non_field_errors() %}
        {% set ns.errors = ns.errors + [{"text": ",".join(error_list)}] %}
      {% endfor %}

      {{ errorSummary({
        "titleText": title,
        "errorList": ns.errors
      }) }}
    {% endif %}
{% endmacro %}

{% macro _render(form_attribute, legend=None, hint=None, component=radios) %}
  {% if form_attribute.errors %}
    {% set error_message = {"text": form_attribute.errors | first} %}
  {% endif %}
  {% set ns = namespace(items=[]) %}
  {% set choice_field = form_attribute.field %}
  {% for choice in choice_field.choices %}
    {% set ns.items = ns.items + [{
      "id": form_attribute.auto_id if loop.first,
      "value": choice[0],
      "text": choice[1],
      "checked": form_attribute.value() == choice[0]
    }] %}
  {% endfor %}
  {{ component({
    "name": form_attribute.html_name,
    "idPrefix": form_attribute.auto_id,
    "fieldset":  {
      "legend": {
        "text": legend,
        "classes": "nhsuk-fieldset__legend--m",
        "isPageHeading": false
      }
    } if legend,
    "errorMessage": error_message,
    "hint": {
      "html": hint|e
    } if hint,
    "items": ns.items
  }) }}
{% endmacro %}

{% macro app_radios(form_attribute, legend=None, hint=None) %}
  {{ _render(form_attribute=form_attribute, legend=legend, hint=hint, component=radios_component) }}
{% endmacro %}

{% macro app_checkboxes(form_attribute, legend=None, hint=None) %}
  {{ _render(form_attribute=form_attribute, legend=legend, hint=hint, component=checkboxes_component) }}
{% endmacro %}
